{% extends 'base.html' %}
{% load static %}

{% block body_class %}auth-page{% endblock %}

{% block content %}
<div class="auth-wrapper">

    <!-- IZQUIERDA -->
    <div class="auth-left">
        <div class="auth-box">
            <h2>Iniciar Sesión</h2>
            <p class="auth-sub">Ingresa tus datos</p>

            <form method="POST">
                {% csrf_token %}

                {% if messages %}
                    {% for message in messages %}
                        <div class="login-error">{{ message }}</div>
                    {% endfor %}
                {% endif %}

                <label>Usuario</label>
                {{ form.username }}

                <label>Contraseña</label>
                {{ form.password }}

                <button type="submit">Entrar</button>
            </form>

            <p class="auth-link">
                ¿No tienes cuenta? <a href="{% url 'register' %}">Regístrate</a>
            </p>
        </div>
    </div>

    <!-- DERECHA -->
    <div class="auth-right">
        <div class="carousel">
            <div class="slide active" style="background-image: url('{% static "img/ropa1.jpeg" %}');"></div>
            <div class="slide" style="background-image: url('{% static "img/galletas.jpeg" %}');"></div>
            <div class="slide" style="background-image: url('{% static "img/pasteles.jpeg" %}');"></div>
        </div>

        <div class="overlay">
            <h1>Impulsa tu emprendimiento</h1>
            <p>Conecta, vende y crece con ShopNest</p>
        </div>
    </div>

</div>
{% endblock %}