{% extends "base_admin.html" %}
{% load static %}

{% block content %}
<div class="admin-container">
  <h1>Solicitudes de Emprendimiento</h1>

  {% if pendientes %}
    <div class="tabla-usuarios">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Usuario</th>
            <th>Ciudad</th>
            <th>Fecha</th>
            <th>PDF</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for e in pendientes %}
          <tr>
            <td>SOL-{{ e.id|stringformat:"05d" }}</td>

            <td>
              {{ e.usuario.username }} <br>
              <small>{{ e.nombre_emprendedor }}</small>
            </td>

            <td>{{ e.ciudad }}</td>

            <td>{{ e.fecha_envio|date:"d/m/Y H:i" }}</td>

            <!-- PDF -->
            <td>
              <a href="{% url 'descargar_pdf' e.id %}" class="btn-pdf">
                📄 PDF
              </a>
            </td>

            <!-- ACCIONES -->
            <td>
              <form method="post" style="display:inline;">
                {% csrf_token %}
                <input type="hidden" name="empr_id" value="{{ e.id }}">
                <button name="action" value="aprobar" class="btn admin">
                  Aprobar
                </button>
              </form>

              <form method="post" style="display:inline;">
                {% csrf_token %}
                <input type="hidden" name="empr_id" value="{{ e.id }}">
                <button name="action" value="rechazar" class="btn eliminar">
                  Rechazar
                </button>
              </form>
            </td>

          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <p>No hay solicitudes pendientes.</p>
  {% endif %}
</div>
{% endblock %}